<nav class="navbar navbar-expand-lg bg-primary mb-5" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fw-bold me-5" href="#">HINÁRIO: LOUVAI AO SENHOR (IERA)</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          [routerLink]="['/hino']"
          [routerLinkActive]="['router-link-active']"
          >Hinos</a
        >
        <a
          class="nav-link"
          [routerLink]="['/hino/favoritos']"
          [routerLinkActive]="['router-link-active']"
          >Favoritos</a
        >
      </div>
    </div>
  </div>
</nav>


