<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credo Apostólico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4 class="titulo">CREDO APOSTÓLICO</h4>
  <p>
    Creio em Deus Pai, Todo-Poderoso, Criador do céu e da terra. Creio em Jesus
    Cristo Seu único Filho, nosso Senhor, o qual foi concebido por obra do
    Espírito Santo; nasceu da virgem Maria; padeceu sob o poder de Pôncio
    Pilatos; foi crucificado, morto e sepultado, desceu aos infernos; ressurgiu
    dos mortos ao terceiro dia; subiu ao Céu, e está sentado à mão direita de
    Deus Pai Todo-Poderoso, de onde há-de vir julgar os vivos e os mortos.
    
  </p>
  <p>Creio no Espírito Santo; na Santa Igreja Universal; na Comunhão dos Santos;
    na remissão dos pecados; na ressurreição do corpo e na vida eterna, Amem!</p>
</ion-content>
