<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/hinos-list']" [routerLinkActive]="['router-link-active']" />
    </ion-buttons>

    <ion-title>{{hino?.titulo}}</ion-title>

    <ion-label slot="end">
      <i  *ngIf="liked"
        class="fa fa-star"
        (click)="addOuRemoveDosFavoritos(hino?.id, 'rem')"
        id="open-toast">
    </i>
      <i
        *ngIf="!liked"
        class="fa-regular fa-star"
        (click)="addOuRemoveDosFavoritos(hino?.id, 'add')"
        id="open-toast"
      ></i>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-note><p class="numero">Nº {{ hino?.numero }}</p></ion-note>
  <h4 class="titulo"> {{ hino?.titulo }}</h4>
  @for (estrofe of estrofes; track $index) { @if (estrofe.refrao) {
  <p class="coro">Coro: {{ estrofe.descricao }}</p>
  } @else{

  <p class="estrofe">
    <ion-note class="estrofe-note">{{estrofe.numero}}. </ion-note>
    {{estrofe.descricao}}
  </p>
  } }


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-note slot="end" class="pagina">Pág. {{hino?.pagina}}</ion-note>
  </ion-toolbar>
</ion-footer>
