<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Oração Domincal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h4 class="titulo">ORAÇÃO DOMNICAL</h4>
  <p>
    Pai-nosso, que estás nos céus, Santificado seja o teu Nome; Venha o teu
    Reino; Seja feita a tua vontade, assim na terra como no céu; O pão-nosso de
    cada dia nos dá hoje; perdoa- nos as nossas dívidas, assim como também
    perdoamos aos nossos devedores; e não nos deixes cair em tentação; mas
    livra-nos do mal; Porque o Teu é Reino, e o Poder e a Glória, para sempre.
    Amem!
  </p>

  <small>(Ev.S.Mateus 6:9-13)</small>
</ion-content>
