div{
     margin-top: 0;
     font-size: 1em;
     font-weight: 900;
     color: #ffff;
     background-color: hsl(59, 85%, 50%);
     padding-top: .4em;
     padding-bottom: .4em;
}

.mr{
    padding-right: 20px;
}